@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ql-toolbar.ql-snow {
  display: none;
}
strong {
  font-weight: 600 !important;
}
#app {
  height: 100%;
}
.carousel__slide {
  align-items: stretch !important;
}

.carousel__pagination-button::after {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.carousel__pagination-button::before {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.ql-toolbar.ql-snow {
  padding: 0;
  border: hidden !important;
}

.ql-toolbar.ql-snow span {
  display: none !important;
}

.ql-container.ql-snow {
  border: hidden !important;
}

.btn-to-top {
  width: 80px;
  height: 80px;
}

/* #gallery .carousel__item {
  height: 390px;
}

#thumbnails .carousel__item {
  min-height: 100px;
  cursor: pointer;
} */

@media screen and (min-width: 767px) {
  .ql-editor.ql-blank {
    font-size: 14px;
    /* інші стилі для маленьких екранів */
  }
  #gallery .carousel__item {
    height: 390px;
  }
  #thumbnails .carousel__item {
    min-height: 100px;
    cursor: pointer;
  }
}

/* Медіа-запит для екранів шириною більше або рівно 768px (великі екрани) */
@media screen and (min-width: 768px) {
  .ql-editor.ql-blank {
    font-size: 12px;
    /* інші стилі для більших екранів */
  }
  #gallery .carousel__item {
    height: 510px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .ql-editor.ql-blank {
    font-size: 14px;
    /* інші стилі для більших екранів */
  }
  #gallery .carousel__item {
    height: 610px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .ql-editor.ql-blank {
    font-size: 18px;
    /* інші стилі для більших екранів */
  }
  #gallery .carousel__item {
    height: auto;
    width: 100%;
  }
}
